* {
    margin: 0%;
    padding: 0%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
    background-color: turquoise;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 100px;

}

.card {
    background-color: #ffffff80;
    padding: 30px;
    border-radius: 4%;
    box-shadow: 3px 3px 1px 0px #00000060;
}

h1 {
    color: #272262;
    margin-top: 20px;
    margin-left: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #272262;
}

p {
    color: #272262;
    margin-top: 1px;
}

input {
    width: 100%;
    padding: 5px 5px;
    margin-top: 10px;    
}

button {
    background-color: transparent;
    border-color: #272262;
    color: #272262;
    padding: 7px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 10px;    
}

.card-float {
    color: #272262;    
}

.justify-center {
    display: flex;
    justify-content: center;
}

hr {
    margin-top: 10%;
    margin-bottom: 10%;
    width: 80%;
}

a {
    color: #7a3077;
    font-weight: bold;
    text-decoration: none;
}
