body{
    margin: 0;
    font-size: 1em;

}
ul{
    list-style: none;
    padding: 0;
}

nav{ 
    background-color: rgb(20, 33, 61);
    padding: 0 15px ;
    justify-content: space-between;


}
p {
   color: rgb(255, 255, 255);
}
.serv{
    font-family: cursive;
    color: rgb(252, 162, 17);

}
nav, ul{
    display: flex;
    flex-direction: row;
}
li{
    padding: 0 50px;
}
li:hover{
    cursor: default;
    opacity: 0.8;
    background-color: rgb(252, 162, 17);
}
.botao1{
    background-color: rgba(0, 0, 0, 0.452);

}
.dpessoal, .ender{
    font-size: 20px;

}